<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue.js</title>
		<link rel="stylesheet"  href="style.css"/>
		<link rel="stylesheet" href="../css/style.css" />
		<script src="https://unpkg.com/vue"></script>
<!-- cdn版本号 -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
	</head>
	<body>
		<!-- vue-app就是根容器  -->
		<h1>条件渲染v-for 详见api v-for指令</h1>
		<div id="vue1-app">
			<h1>v-for 循环</h1>
			<!-- 数组下标 -->
			<!-- {{characters[0]}}
			{{characters[1]}}
			{{characters[2]}} -->
			<!-- 数组遍历 -->
			<ul>
				<li v-for="chacter in characters">{{chacter}}</li>
			</ul>
			<ul>
				<li v-for="user in users">{{user.name}} - {{user.age}}</li>
			</ul>
			<!-- 下标标示 -->
			<ul>
				<li v-for="(user,index) in users">{{index+1}} . {{user.name}} - {{user.age}}</li>
			</ul>
		<!-- 	<div v-for="(user,index) in users">
				<h3>{{index+1}} . {{user.name}}</h3>
				<p>Age: {{user.age}}</p>
			</div> -->
			<template v-for="(user,index) in users">
				<h3>{{index+1}} . {{user.name}}</h3>
				<p>Age: {{user.age}}</p>
			</template>
			<!-- 遍历单个标签并获取对应的key-value -->
			<template v-for="(user,index) in users">
				<div v-for="(val,key) in user">
					<p>key: {{key}} - value: {{val}}</p>
				</div>
			</template>
		</div>
		<script src="../js/app5.js"></script>
<!-- 注意采用cdn方式，必须要在对应的app.js中实例化vue对象 -->
	</body>
</html>
<!-- 
div也是可以遍历生成，但是，会多次渲染，造成资源浪费
解决此问题的方法
优化方法：template v-for
-->
